%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for(@user, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-6") do |f|
        %header
          %h1 Register
        %fieldset
          = f.email_field :email_address, value: @user.email_address
          = f.password_field :password
          = f.text_field :full_name
          = f.hidden_field :invite_token, value: @token
          %fieldset.actions.control-group.col-sm-offset-2
            .controls
              %script(src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="pk_test_9olXx4DvcGS5hWpkUVjTDNJA"
              data-amount="999"
              data-name="MyFlix video service"
              data-description="Subscribe to best video service for $9.99")
